* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  height: 256px;
  border-radius: 4px;
}

header, footer {
  background: #320a28;
}

main {
  background: #d3a188;
}

footer p {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  padding: 24px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-loja a {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.logo-loja a img {
  height: 140px;
}

.menu-loja {
  display: flex;
  list-style: none;
  padding: 0 2.5em;
}

.menu-loja a {
  display: block;
  margin: 10px;
  padding: 15px 20px;
  background: #cb9173;
  color: #320a28;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
}

.menu-loja a:hover {
  background: #955637;
  color: #fff;
}

.sobre {
  display: flex;
  gap: 0 24px;
  align-items: center;
  padding-top: 2.5em;
}

.sobre-img img {
  height: 380px;
}

.sobre-conteudo h1 {
  font-size: 3em;
  color: #320a28;
}

.sobre-conteudo p {
  color: #320a28;
  font-size: 1.2em;
  font-weight: 500;
}

.sobre-conteudo span {
  color: #6f1f42;
  font-weight: 700;
}

h2 {
  font-size: 2.5em;
  color: #320a28;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
}

h2::after {
  content: "";
  background: #955637;
  height: 4px;
  width: 30px;
  left: 0;
  bottom: 0;
  position: absolute;
}

h2 > span {
  color: #955637;
}

.produto-cafe {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-bottom: 64px;
}

.cafe {
  display: flex;
  flex-direction: column;
}

.cafe h3 {
  font-size: 1.2em;
  font-weight: 600;
  padding: 8px 0 4px;
  color: #320a28;
}

.cafe p {
  width: 256px;
  color: #320a28;
  margin-bottom: 8px;
  flex: 1;
}

.cafe a {
  background: #511730;
  color: #d3a188;
  padding: 8px 0;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.cafe a:hover {
  background: #300d1c;
}

@media (min-width: 641px) and (max-width: 1024px) {
  .sobre {
    flex-direction: column;
  }
  .sobre-conteudo h1 {
    font-size: 2.5em;
    padding: 8px 24px 0;
  }
  .sobre-conteudo p {
    padding: 8px 24px 0;
  }
  h2 {
    margin: 24px 24px 24px;
  }
  .produto-cafe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-bottom: 32px;
  }
  .cafe img {
    width: 256px;
    height: 100%;
  }
}

@media (max-width: 640px) {
  header > div.flex {
    flex-direction: column;
  }
  nav{
    display: none;
  }
  .logo-loja {
    display: flex;
    align-items: center;
  }
  .logo-loja a {
    font-size: 1.5em;
  }
  .logo-loja a img {
    height: 96px;
  }
  .menu-mobile {
    width: 32px;
    margin-left: 32px;
  }
  .menu-mobile span {
    content: "";
    display: block;
    background: #955637;
    height: 3px;
    width: 100%;
    margin-bottom: 4px;
  }
  .sobre {
    flex-direction: column;
    padding-top: 1.5em;
  }

  .sobre-img img {
    height: 200px;
    margin-bottom: 14px;
  }

  .sobre-conteudo h1 {
    font-size: 1.8em;
    text-align: center;
  }

  .sobre-conteudo p {
    font-size: 1em;
    text-align: center;
    padding: 0 24px;
  }
  h2 {
    text-align: center;
    font-size: 1.8em;
  }
  h2::after {
    display: none;
  }
  .produto-cafe {
    display: grid;
    grid-template-columns: 256px;
    justify-content: center;
    text-align: center;
    padding-bottom: 24px;
  }
  footer{
    font-size: 1em;
  }
}
